.container {
    background-image: url('../img/Fon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1366px;
    height: 770px;
    margin: 0 auto; */
    height: 100vh;
}

.header-container {
    padding: 18px 79px;
    display: flex;
    justify-content: flex-end;
    height: 58px;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.header-container:hover {
    box-shadow: 0px 1px 3px 0px #00000040;
    color: #363B3E;
}

.header-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    width: 147px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    left: 79px;
    position: absolute;
}

.icon-list {
    padding-left: 701px;
    position: relative;
}

.icon-list::after {
    content: '';
    width: 1px;
    height: 19px;
    background-color: #fff;
    opacity: 0.1;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon-item {
    display: inline-block;
    padding-right: 27px;
}

.icon {
    height: 23px;
    width: 23px;
}

.icon1:hover {
    content: url('../svg/Vector(4).svg');
}

.icon2:hover {
    content: url('../svg/Vector(3).svg');
}

.icon3:hover {
    content: url('../svg/Vector(5).svg');
}

.reg-list {
    padding-left: 27px;
    line-height: 24px;
}

.reg-item>a {
    text-decoration: none;
    color: #fff;
}

.reg-item {
    display: inline;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}

.reg-item-text:hover {
    color: #363B3E;

}

.header-title:hover,
.log-in:hover,
.sign-up:hover {
    color: #3CB878;
}

:hover {
    transition: 0.5s;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 58px);
    box-shadow: 0px 4px 18px 0px #00000085;
}

.form {
    width: 444px;
    height: 584px;
    padding: 31px 60px 38px;
    background-color: #fff;
    box-shadow: 0px 4px 18px 0px #00000085;
    box-sizing: border-box;
    position: relative;
}

.form::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    left: 0;
    top: 29px;
}

.form-title {
    display: flex;
    justify-content: space-between;
}

.form-title-link-signup {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #434343;
    text-decoration: none;
}

.form-title-link-login {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}

.form-title-link-login:hover {
    text-decoration: underline;
    color: #01813F;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.social-link {
    display: block;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    padding: 17px 22px 17px 67px;
}

.social-link-gg {
    padding-left: 80px;
    background-color: #DF4A32;
}

.social-link-fb::after,
.social-link-gg::after {
    content: '';
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    position: absolute;
    bottom: 10px;
    left: 48px;
    opacity: 0.1;
}

.social-link-gg::after {
    background-color: #2B0D09;
}

.social-link-fb::before {
    content: url('../img/f\ 1.svg');
    position: absolute;
    left: 16px;
    bottom: 12px;
    height: 24px;
}

.social-link-gg::before {
    content: url('../img/G+.svg');
    position: absolute;
    left: 12px;
    bottom: 14px;
    height: 20px;
}

.social-link-fb:hover {
    background-color: #022263;
}

.social-link-gg:hover {
    background-color: #AB1F09;
}

.or {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 31px;
    position: relative;
    color: #848484;
}

.or::after,
.or::before {
    content: '';
    display: inline-block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%)
}

.or::before {
    left: 0;
}

.or::after {
    right: 0;
}

.form-name {
    width: 100%;
    height: 44px;
    color: #434343;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    padding: 15px 0 15px 19px;
    box-sizing: border-box;
    box-shadow: 0px 3px 8px 0px #00000036;
    border: 1px solid #ffff;
}

.form-item {
    width: 100%;
    height: 44px;
    margin-top: 16px;
    padding: 15px 0 15px 19px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #BEBEBE;
    border: 1px solid #F2F2F2;
}

.form-email {
    width: 100%;
    height: 44px;
    margin-top: 16px;
    padding: 15px 0 15px 19px;
    box-sizing: border-box;
}

.checkbox-green {
    color: #3CB878;
    text-decoration: none;
}

.checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.checkbox-block {
    display: inline-block;
    margin-top: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2f2;
    margin-right: 8px;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

.custom-checkbox::before {
    content: '';
    width: 14px;
    height: 13.5px;
    background-image: url("../img/Vector1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}

.checkbox:checked+.custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.button-account {
    margin-top: 20px;
    background-color: #3CB878CC;
    width: 100%;
    height: 46px;
    border-color: #3CB878CC;
    border-radius: 3px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.button-account:hover {
    background-color: #01813F;
}